" Put this file in intellij homepath 
" Windows: %HOMEPATH%\.ideavimrc
" Linux: ~/.ideavimrc
" Mac: ~/.ideavimrc

set number
set relativenumber
set idearefactormode=keep
set expandtab
set scrolloff=5
set incsearch
map Q gq
map \b <Action>(ToggleLineBreakpoint)