(
    palette: Dark((
        name: "cosmic-dark",
        bright_red: (
            red: 0.8643598,
            green: 0.35614225,
            blue: 0.1789667,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.20078507,
            green: 0.5915716,
            blue: 0.14715403,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.8643598,
            green: 0.35614225,
            blue: 0.1789667,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.105882354,
            green: 0.105882354,
            blue: 0.105882354,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.14901961,
            green: 0.14901961,
            blue: 0.14901961,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.105882354,
            green: 0.105882354,
            blue: 0.105882354,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.1882353,
            green: 0.1882353,
            blue: 0.1882353,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.2784314,
            green: 0.2784314,
            blue: 0.2784314,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.36862746,
            green: 0.36862746,
            blue: 0.36862746,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.46666667,
            green: 0.46666667,
            blue: 0.46666667,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.5686275,
            green: 0.5686275,
            blue: 0.5686275,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.67058825,
            green: 0.67058825,
            blue: 0.67058825,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.7764706,
            green: 0.7764706,
            blue: 0.7764706,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.8862745,
            green: 0.8862745,
            blue: 0.8862745,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.47805268,
            green: 0.5187869,
            blue: 0.59021354,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.47805268,
            green: 0.5187869,
            blue: 0.59021354,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.5615045,
            green: 0.49701965,
            blue: 0.5580118,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.56151384,
            green: 0.49701732,
            blue: 0.5580037,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.57404804,
            green: 0.49403805,
            blue: 0.5454592,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.5719808,
            green: 0.5045531,
            blue: 0.44795877,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.4898666,
            green: 0.5289103,
            blue: 0.45876694,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.4790234,
            green: 0.5312131,
            blue: 0.4655429,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.5725733,
            green: 0.5043192,
            blue: 0.44826984,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.5728367,
            green: 0.50421476,
            blue: 0.44841164,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.5719808,
            green: 0.5045531,
            blue: 0.44795877,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.56624556,
            green: 0.5067517,
            blue: 0.44544888,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.47805268,
            green: 0.5187869,
            blue: 0.59021354,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.5615045,
            green: 0.49701965,
            blue: 0.5580118,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.5615107,
            green: 0.4970181,
            blue: 0.5580066,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.47805268,
            green: 0.5187869,
            blue: 0.59021354,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 4,
        space_xs: 8,
        space_s: 8,
        space_m: 16,
        space_l: 24,
        space_xl: 32,
        space_xxl: 48,
        space_xxxl: 64,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (8.0, 8.0, 8.0, 8.0),
        radius_l: (8.0, 8.0, 8.0, 8.0),
        radius_xl: (8.0, 8.0, 8.0, 8.0),
    ),
    neutral_tint: Some((
        red: 0.16862746,
        green: 0.16470589,
        blue: 0.16078432,
    )),
    bg_color: Some((
        red: 0.12156863,
        green: 0.11372549,
        blue: 0.10980392,
        alpha: 1.0,
    )),
    primary_container_bg: None,
    secondary_container_bg: None,
    text_tint: Some((
        red: 0.81960785,
        green: 0.76862746,
        blue: 0.7411765,
    )),
    accent: Some((
        red: 0.70980394,
        green: 0.64705884,
        blue: 0.6117647,
    )),
    success: Some((
        red: 0.48493606,
        green: 0.528978,
        blue: 0.47334808,
    )),
    warning: Some((
        red: 0.49410874,
        green: 0.5269991,
        blue: 0.4676143,
    )),
    destructive: Some((
        red: 0.5654017,
        green: 0.49761462,
        blue: 0.54095966,
    )),
    is_frosted: true,
    gaps: (0, 10),
    active_hint: 2,
    window_hint: None,
)