(
    palette: Dark((
        name: "cosmic-dark",
        bright_red: (
            red: 0.8611111,
            green: 0.35888487,
            blue: 0.18365017,
            alpha: 1.0,
        ),
        bright_green: (
            red: 0.20799905,
            green: 0.59084547,
            blue: 0.15348479,
            alpha: 1.0,
        ),
        bright_orange: (
            red: 0.8611111,
            green: 0.35888487,
            blue: 0.18365017,
            alpha: 1.0,
        ),
        gray_1: (
            red: 0.105882354,
            green: 0.105882354,
            blue: 0.105882354,
            alpha: 1.0,
        ),
        gray_2: (
            red: 0.14901961,
            green: 0.14901961,
            blue: 0.14901961,
            alpha: 1.0,
        ),
        neutral_0: (
            red: 0.0,
            green: 0.0,
            blue: 0.0,
            alpha: 1.0,
        ),
        neutral_1: (
            red: 0.105882354,
            green: 0.105882354,
            blue: 0.105882354,
            alpha: 1.0,
        ),
        neutral_2: (
            red: 0.1882353,
            green: 0.1882353,
            blue: 0.1882353,
            alpha: 1.0,
        ),
        neutral_3: (
            red: 0.2784314,
            green: 0.2784314,
            blue: 0.2784314,
            alpha: 1.0,
        ),
        neutral_4: (
            red: 0.36862746,
            green: 0.36862746,
            blue: 0.36862746,
            alpha: 1.0,
        ),
        neutral_5: (
            red: 0.46666667,
            green: 0.46666667,
            blue: 0.46666667,
            alpha: 1.0,
        ),
        neutral_6: (
            red: 0.5686275,
            green: 0.5686275,
            blue: 0.5686275,
            alpha: 1.0,
        ),
        neutral_7: (
            red: 0.67058825,
            green: 0.67058825,
            blue: 0.67058825,
            alpha: 1.0,
        ),
        neutral_8: (
            red: 0.7764706,
            green: 0.7764706,
            blue: 0.7764706,
            alpha: 1.0,
        ),
        neutral_9: (
            red: 0.8862745,
            green: 0.8862745,
            blue: 0.8862745,
            alpha: 1.0,
        ),
        neutral_10: (
            red: 1.0,
            green: 1.0,
            blue: 1.0,
            alpha: 1.0,
        ),
        accent_blue: (
            red: 0.48463333,
            green: 0.51834476,
            blue: 0.5788185,
            alpha: 1.0,
        ),
        accent_indigo: (
            red: 0.48463333,
            green: 0.51834476,
            blue: 0.5788185,
            alpha: 1.0,
        ),
        accent_purple: (
            red: 0.5547152,
            green: 0.5000918,
            blue: 0.5515855,
            alpha: 1.0,
        ),
        accent_pink: (
            red: 0.55472445,
            green: 0.5000896,
            blue: 0.55157775,
            alpha: 1.0,
        ),
        accent_red: (
            red: 0.5654017,
            green: 0.49761462,
            blue: 0.54095966,
            alpha: 1.0,
        ),
        accent_orange: (
            red: 0.56410855,
            green: 0.5063446,
            blue: 0.45845336,
            alpha: 1.0,
        ),
        accent_yellow: (
            red: 0.49410874,
            green: 0.5269991,
            blue: 0.4676143,
            alpha: 1.0,
        ),
        accent_green: (
            red: 0.48493606,
            green: 0.528978,
            blue: 0.47334808,
            alpha: 1.0,
        ),
        accent_warm_grey: (
            red: 0.56461704,
            green: 0.50614756,
            blue: 0.45871764,
            alpha: 1.0,
        ),
        ext_warm_grey: (
            red: 0.5648369,
            green: 0.5060619,
            blue: 0.45883483,
            alpha: 1.0,
        ),
        ext_orange: (
            red: 0.56410855,
            green: 0.5063446,
            blue: 0.45845336,
            alpha: 1.0,
        ),
        ext_yellow: (
            red: 0.559216,
            green: 0.5081879,
            blue: 0.4563368,
            alpha: 1.0,
        ),
        ext_blue: (
            red: 0.48463333,
            green: 0.51834476,
            blue: 0.5788185,
            alpha: 1.0,
        ),
        ext_purple: (
            red: 0.5547151,
            green: 0.50009185,
            blue: 0.5515858,
            alpha: 1.0,
        ),
        ext_pink: (
            red: 0.55471957,
            green: 0.5000908,
            blue: 0.5515818,
            alpha: 1.0,
        ),
        ext_indigo: (
            red: 0.48463333,
            green: 0.51834476,
            blue: 0.5788185,
            alpha: 1.0,
        ),
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 4,
        space_xs: 8,
        space_s: 8,
        space_m: 16,
        space_l: 24,
        space_xl: 32,
        space_xxl: 48,
        space_xxxl: 64,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (2.0, 2.0, 2.0, 2.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (8.0, 8.0, 8.0, 8.0),
        radius_l: (8.0, 8.0, 8.0, 8.0),
        radius_xl: (8.0, 8.0, 8.0, 8.0),
    ),
    neutral_tint: Some((
        red: 0.41909757,
        green: 0.38145813,
        blue: 0.34817538,
    )),
    bg_color: Some((
        red: 0.13333334,
        green: 0.12156863,
        blue: 0.11372549,
        alpha: 1.0,
    )),
    primary_container_bg: None,
    secondary_container_bg: None,
    text_tint: Some((
        red: 0.9764491,
        green: 0.9236457,
        blue: 0.88308686,
    )),
    accent: Some((
        red: 0.8666667,
        green: 0.7607843,
        blue: 0.65882355,
    )),
    success: Some((
        red: 0.48493606,
        green: 0.528978,
        blue: 0.47334808,
    )),
    warning: Some((
        red: 0.49410874,
        green: 0.5269991,
        blue: 0.4676143,
    )),
    destructive: Some((
        red: 0.5654017,
        green: 0.49761462,
        blue: 0.54095966,
    )),
    is_frosted: false,
    gaps: (0, 14),
    active_hint: 4,
    window_hint: None,
)